{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'rewards/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'rewards/images/icons.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo3"><a href="{% url 'index' %}"><img src="{% static 'rewards/images/logo2.png' %}" alt="Logo"></a></li>
{% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
    			{% if request.user.is_authenticated %}
				<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Log Out</a></li>
				{% else %}
				<li class="last"><a href="{% url 'register' %}">Registration</a> | <a href="{% url 'login' %}">Log in</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar leftward -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li class="share">
		<p>The website of our project</p>
		<a class="share-yt" href="https://longevityintime.org/ru/" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- End Sidebar'а -->
<td valign="top" class="content">
	<!-- Bread crumbs -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Content Block -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- End Content Block -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Partial or complete copying of information from this site for distribution on other resources, including paper, is strictly prohibited.</p>
	</div>
</td></tr></table>
<!-- End of footer and page -->
</body>
</html>
